* {
  color: white;
  Font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

header {
  margin: 20px;
  padding-bottom: 20px;
}

body {
  background-color: black;
}

.btn {
  border: solid;
  margin: 20px 20px;
  padding: 25px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
  transition: background-color .5s, color .5s;
}

.btn:active {
  background-color: grey;
  color: black;
}