body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 10%;
}

.contentbox {
  border: 2px solid #A2A2A6;
  padding: 10px;
  margin: 10px auto;
}

.contentbox--color {
  margin: 5px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.color--content {
  display: inline-block;
  width: 35%;
  text-align: center;
  margin: 20px 5%;
  min-height: 100px;
}

.color1 {
  background-color: #2D5DCC;
  color: #FFFFFF;
}

.color2 {
  background-color: #D957D9;
}

.color3 {
  background-color: #4FE0B0;
}

.color4 {
  background-color: #EFD9CA;
}

.contentbox--font {
  margin: 5px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.fontbox {
  display: inline-block;
  width: 40%;
  text-align: left;
  /*  margin: 20px 5%; */
  min-height: 100px;
}

.fontbox--label {
  font-size: 20px;
  text-decoration: underline;
}

.font1 {
  font-family: "Source Code Pro", monospace;
}

.font2 {
  font-family: 'Nunito Sans', sans-serif;
}

.font3 {
  font-family: 'Poppins', sans-serif;
}

.fontbox--regular {
  font-weight: normal;
  /* we want to override the <p> tag for these elements */
  font-size: initial;
}

.fontbox--bold {
  font-weight: bold;
  /* we want to override the <p> tag for these elements */
  font-size: initial;
}

.fontbox--italic {
  font-style: italic;
  /* we want to override the <p> tag for these elements */
  font-size: initial;
}

.contentbox--style {
  margin: 5px 5%;
}

h1,
.style--h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

h2,
.style--h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

p,
.style--p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}