body {
  font-family: 'Poppins', sans-serif;
  margin: 0 10%;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-style: italic;
  font-size: 24px;
}

.subheading {
  margin: 0 5px 0 5px;
}

figcaption {
  font-size: small
}

code {
  width: -moz-fit-content;
  width: fit-content;
}

pre {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
}

.contentbox {
  border: 2px solid #A2A2A6;
  padding: 10px;
  margin: 10px auto;
}

.contentbox--subcontent {
  margin-bottom: 10px;
}

.codebox {
  display: inline-flex;
  max-width: 33%;
}

.code {
  background-color: #201e2f;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  /*  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", "monospace"; */
  font-size: small;
}

.code--snippet {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin-left: 50px;
}

.infobox {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 65%;
}

.infobox p {
  margin-left: 15px;
  margin-bottom: 0;
}

.infobox h3 {
  margin-left: 15px;
  margin-bottom: 0;
}

.infobox ul {
  margin-top: 0;
}

.css_topic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

th,
td {
  padding-right: 5px;
  text-align: left;
}

.topic--table--th {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  border-bottom: solid 1px;
}

.topic--table--td {
  border-bottom: solid 1px;
}

.propertyname {
  color: #83fff5;
}

.propertydesc {
  color: #939598;
  padding-left: 15px;
}

.valuedesc {
  color: #939598;
}

.valuetext {
  color: #cc7bc2;
}

.valuenum {
  color: #ff8973;
}

.image--declaration {
  width: 40%;
  min-width: 400px;
  height: auto;
}

.selector--universal {
  color: #ea6c8b
}

.selector--class {
  color: #b4d353;
}

.selector--element {
  color: #ea6c8b;
}

.punctuation {
  color: white;
}

.inline_code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.pseudotable {
  margin-top: 15px;
  margin-left: 15px;
  border-collapse: collapse;
}

.codecell {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.pseudotable caption {
  text-align: left;
}

.pseudotable thead {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.pseudotable tbody tr:nth-child(even) {
  background-color: lightgray;
}

.pseudotable tbody th {
  background-color: white;
}

.pseudotable th,
td {
  border: 1px solid black;
  padding: 4px;
}

.pseudotable--col1 {
  width: 15%;
}

.pseudotable--col2 {
  width: 30%;
}

a[href="#deadlink"] {
  background-color: red;
  color: white;
}

.needs_work {
  background-color: rgb(245, 118, 89);
}

.inprogress {
  background-color: maroon;
  color: white;
  border: solid red 4px;
  padding-left: 5px;
  padding-right: 5px;
}

span::selection {
  color: red;
  background-color: yellow;
}